<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'webcustomer:MyProfile' %}">MyProfile</a>
    <a href="{% url 'webcustomer:ViewRestaurant' %}">ViewRestaurant</a>
    <a href="{% url 'webcustomer:Complains' %}">Complains</a>

</body>
{% if msg %}
<script>
    alert("The Password Reset Link Is sented to {{msg}}")
    window.location = "{% url 'webcustomer:Homepage' %}"
</script>
{% endif %}
</html>