<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token  %}
    <table>
        <tr>
            <td>Photo</td>
            <td><img></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{Customer.Customer_Name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{Customer.Customer_Email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{Customer.Customer_Address}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{Customer.Customer_Contact}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <a href="{% url 'webcustomer:EditProfile' %}">Edit Profile</a>
                <a href="{% url 'webcustomer:ChangePassword' %}">Change Password</a>
            </td>
        </tr>
    </table>
    </form>
</body>
</html>