<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <style>
        .main {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
        .sub {
            padding: 20px;
            background-color: #beeaff7d;
            width: fit-content;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            gap: 4px;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    
    <div class="main">
        {% for i in Restaurant %}
        <div class="sub">
            <div><img src="{{i.vr.Restaurant_Photo}}"  width="100" height="100"></div>
            <div>{{i.vr.Restaurant_Name}}</div>
            <div>{{i.vr.Restaurant_Email}}</div>
            <div>{{i.vr.Restaurant_Contact}}</div>
            <div>
                <div>
                    <div class="mb-3">
                        {% if i.avg == 0 %}
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        {% elif i.avg == 1 %}
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        {% elif i.avg == 2 %}
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>

                        {% elif i.avg == 3 %}
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        {% elif i.avg == 4 %}
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star star-light mr-1 main_star"></i>
                        {% elif i.avg == 5 %}
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        <i class="fas fa-star text-warning"></i>
                        {% endif %}

                    </div>
                    </div>
            </div>
            <div><a href="{% url 'webcustomer:ViewTable' i.id %}">View More</a> | <a href="{% url 'webcustomer:rating' i.id %}">Rate</a></div>
        </div>
        {% endfor %}
    </div>
</body>
</html>