<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    {% csrf_token  %}
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id=""></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="number" name="Contact" id=""></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" id=""></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="Address" id=""></td>
        </tr>
        <tr>
            <td>District</td>
            <td><select name="district" id="district">
                <option value="">...Select...</option>
                {% for i in district %}
                <option value="{{i.id}}">{{i.dis.district_name}}</option>
            {% endfor %}</td>
        </tr>
        <tr>
            <td>Place</td>
            <td><select name="place" id="place">
                <option value="">...Select...</option></select></td>
        </tr>
        
    </table>
    <button type="submit">Register</button>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("#district").change(function () {
        var did = $(this).val();
        var ur = "{% url 'webguest:AjaxPlace' %}"
        $.ajax({
            url: ur,
            data: { did: did, },
            success: function (data) {
                $("#place").html(data);
            },
        });
    });
</script>