<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    {% csrf_token  %}
    <table>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id=""></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" id=""></td>
        </tr>
    </table>
    <button type="submit">Login In</button>
</body>
</html>