<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token  %}

    <div class="form-group">
        <label for="Name">Restaurant Name</label>
        <input type="text" name="Name" id="Name">
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email">
    </div>

    <div class="form-group">
        <label for="Contact">Contact</label>
        <input type="tel" name="Contact" id="Contact">
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" name="Password" id="Password">
    </div>

    <div class="form-group">
        <label for="Photo">Photo</label>
        <input type="file" name="Photo" id="Photo">
    </div>

    <div class="form-group">
        <label for="district">District</label>
        <select name="district" id="district">
            <option value="">...Select...</option>
            {% for i in district %}
            <option value="{{i.id}}">{{i.dis.district_name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="place">Place</label>
        <select name="place" id="place">
            <option value="">...Select...</option>
        </select>
    </div>

    <div class="form-group">
        <label for="Address">Address</label>
        <textarea name="Address" id="Address" cols="30" rows="5"></textarea>
    </div>

    <input type="submit" value="Register">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("#district").change(function () {
            var did = $(this).val();
            var ur = "{% url 'webguest:AjaxPlace' %}";
            $.ajax({
                url: ur,
                data: { did: did },
                success: function (data) {
                    $("#place").html(data);
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    </script>
</body>
</html>
