<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    {% csrf_token  %}
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id=""></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="number" name="Contact" id=""></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" id=""></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="Address" id=""></td>
        </tr>
        <tr>
            <td>District</td>
            <td><select name="District"  disabled="disabled"> </select></td>
        </tr>
        <tr>
            <td>Place</td>
            <td><select name="Place"  disabled="disabled"> </select></td>
        </tr>
        <tr>
            <td>Proof</td>
            <td><select name="Proof"  disabled="disabled"> </select></td>
        </tr>
        <tr>
            <td>Photo</td>
            <td><select name="Proof"  disabled="disabled"> </select></td>
        </tr>
    </table>
    <button type="submit">Register</button>
</body>
</html>