<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    {% csrf_token  %}
    <table>
        <tr>
            <td>Current Password</td>
            <td><input type="password" name="Oldpass" id=""></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="Pass" id=""></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="password" name="Cpass" id=""></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
    <button type="reset">Cancel</button>
</body>
</html>