<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token  %}
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id="" value="{{Restaurant.Restaurant_Name}}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id="" value="{{Restaurant.Restaurant_Email}}"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="tel" name="Contact" id="" value="{{Restaurant.Restaurant_Contact}}"></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="Address" id="" value="{{Restaurant.Restaurant_Address}}"></td>
        </tr>
    </table>
    <tr>
        <input type="submit" value="Submit"></td>
    </tr>
</form>
</body>
</html>