<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'webRestaurants:MyProfile' %}">MyProfile</a>
    <a href="{% url 'webRestaurants:AddWaiter' %}">AddWaiter</a>
    <a href="{% url 'webRestaurants:AddTable' %}">AddTable</a>
    <a href="{% url 'webRestaurants:ViewBooking' %}">View Booking</a>
    <a href="{% url 'webRestaurants:ReassignWaiter' %}">View Reassign Waiter</a>
    <a href="{% url 'webRestaurants:Complains' %}">Raise Complains</a>
    <a href="{% url 'webRestaurants:ViewComplains' %}">View Complains</a>
</body>
{% if msg %}
<script>
    alert("The Link Is sented to {{msg}}")
    window.location = "{% url 'webRestaurants:Homepage' %}"
</script>
{% endif %}
</html>