<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    {% csrf_token  %}
    <table>
        <tr>
            <td>Photo</td>
            <td><img></td>
        </tr>
        <tr>
            <td>Name</td>
            <td>{{Restaurant.Restaurant_Name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{Restaurant.Restaurant_Email}}</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>{{Restaurant.Restaurant_Address}}</td>
        </tr>
        <tr>
            <td>Contact</td>
            <td>{{Restaurant.Restaurant_Contact}}</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><a href="{% url 'webRestaurants:EditProfile' %}">Edit Profile</a>
                <a href="{% url 'webRestaurants:ChangePassword' %}">Change Password</a></td>

        </tr>
    </table>

</body>
</html>