<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Name</td>
                <td>Email</td>
                <td>Contact</td>
                <td>Address</td>
                <td>Table No</td>
                <td>Table Image</td>
                <td>Table Capacity</td>
                <td>Booked Date</td>
                <td>Booked Time</td>
                <td>Action</td>
            </tr>
            {% for i in view %}
            <tr>
                <td>{{i.Customer.Customer_Name}}</td>
                <td>{{i.Customer.Customer_Email}}</td>
                <td>{{i.Customer.Customer_Contact}}</td>
                <td>{{i.Customer.Customer_Address}}</td>
                <td>{{i.Table.Table_No}}</td>
                <td><img src="{{i.Table.Table_Photo}}"  width="100" height="100"></td>
                <td>{{i.Table.Table_Capacity}}</td>
                <td>{{i.view.Date}}</td>
                <td>{{i.view.Time}}</td>
                <td><a href="{% url 'webRestaurants:Accepted' i.id %}">Accepted</a>
                    <a href="{% url 'webRestaurants:Rejected' i.id %}">Rejected</a></td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>