<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token  %}
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id="" value="{{Waiter.Waiter_Name}}"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id="" value="{{Waiter.Waiter_Email}}"></td>
        </tr>
        <tr>
            <td>Contact</td>
            <td><input type="tel" name="Contact" id="" value="{{Waiter.Waiter_Contact}}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
    
</body>
</html>