<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post"></form>
    {% csrf_token  %}
    <table>
        <tr>
            <td>Photo</td>
            <td><img></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Name" id=""></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" name="Email" id=""></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><textarea name="Address" id="" cols="30" rows="10"></textarea></td>
        </tr>
    </table>
    <button type="submit">Submit</button>
</body>
</html>