<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" name="Name" id=""></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" name="Email" id=""></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="tel" name="Contact" id=""></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="Password" id=""></td>
            </tr>
        </table>
        <button type="submit">Save</button>
    </form>
    <table>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Email</td>
            <td>Contact</td>
            <td>Action</td>
        </tr>
        {% for i in Admin %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.Admin.Admin_Name}}</td>
            <td>{{i.Admin.Admin_Email}}</td>
            <td>{{i.Admin.Admin_Contact}}</td>
            <td><a href="{% url 'webadmin:delAdmin' i.id %}">Delete</a></td>
            <td><a href="{% url 'webadmin:editAdmin' i.id %}">Edit</a></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>