<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token  %}
        <table>
            <tr>
                <td>FoodType</td>
                <td><input type="text" name="FoodType" ></td>
            </tr>
            <tr>
                <td><button type="submit">Add</button></td>
            </tr>
        </table>
    </form>
    <table>
        <tr>
            <td>#</td>
            <td>FoodType</td>
            <td>Action</td>
        </tr>
        {% for i in FoodType %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.FoodType.FoodType_name}}</td>
            <td><a href="{% url 'webadmin:delFoodType' i.id %}">Delete</a></td>
            <td><a href="{% url 'webadmin:editFoodType' i.id %}">Edit</a></td>
            <td></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>