<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<form action="" method="post">
        {% csrf_token %}
    <table> 
        <tr>
            <td>#</td>
            <td>restaurant Name</td>
            <td>Content</td>
            <td>Action</td>
            
        </tr>
        {% for i in restaurant %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.restaurant.Restaurant_Name}}</td>
            <td>{{i.complaint.Complains_Name}}</td>
            <td>{{i.complaint.Complains_Content}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>
       
        <tr>
            <td>#</td>
            <td>Customer Name</td>
            <td>Content</td>
            <td>Action</td>
            
        </tr>
        {% for i in customer %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.customer.Customer_Name}}</td>
            <td>{{i.complaint.Complains_Name}}</td>
            <td>{{i.complaint.Complains_Content}}</td>
        </tr>
        {% endfor %}
    </table>
    <table>   
        <tr>
            <td>#</td>
            <td>Waiter Name</td>
            <td>Content</td>
            <td>Action</td>
        </tr>
        {% for i in waiter %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.waiter.Waiter_Name}}</td>
            <td>{{i.complaint.Complains_Name}}</td>
            <td>{{i.complaint.Complains_Content}}</td>
        </tr>
        {% endfor %}
    </table>
</form>
</body>
</html>